@import '../../../../assets/styles/mixins'

.projects
  +flex(center, center, column)
  margin: 0 auto
  min-width: calc(1366px - 40px)
  max-width: 1600px
  position: relative
  margin-bottom: 180px
  .projects-header
    margin-bottom: 50px
    .title
      font-size: 40px
      margin-bottom: 24px
      color: var(--black-1)
      font-weight: var(--bold)
      font-family: var(--title)
    .subtitle
      font-size: 16px
      text-align: center
      color: var(--black-2)
      font-family: var(--text)
      font-weight: var(--semibold)
  .all-projects
    +flex(null, center, column)
    width: 100%
    .tabs
      +flex(center, center)
      margin-bottom: 40px
      .tab
        +flex(center, center)
        height: 30px
        font-size: 24px
        padding: 6px 30px
        position: relative
        text-decoration: none
        color: var(--black-1)
        font-weight: var(--bold)
        font-family: var(--title)
        &::after
          width: 0
          top: 100%
          left: 0
          right: 0
          bottom: 0
          content: ''
          height: 5px
          display: block
          position: absolute
          margin-left: auto
          margin-right: auto
          transition: all .5s
          background-color: var(--blue-1)
        &.active, &:hover
          color: var(--blue-1)
          &::after
            width: calc(100% - 60px)
    .items
      display: grid
      margin: 0 20px
      grid-auto-rows: 300px
      justify-content: space-between
      grid-template-columns: 24% 24% 24% 24%
      li
        +flex(center, center)
        .item
          width: 330px
          height: 250px
          background-color: var(--gray-1)
  
+for-phone-only
  .projects
    min-width: 100%
    margin-bottom: 20px
    .projects-header
      margin: 0 20px 20px 20px
      .title
        font-size: 32px
        text-align: center
    .all-projects
      .tabs
        .tab
          padding: 10px
          font-size: 16px
          width: min-content
          &.active, &:hover
            color: var(--blue-1)
            &::after
              width: calc(100%)