@import '../../../../assets/styles/mixins'

.hero-page
  position: relative
  height: calc(100vh - 40px - 60px)
  background: transparent url('/assets/img/background-1.svg') center no-repeat
  .content
    +flex(center, space-between)
    position: relative
    margin: 0 auto
    height: 100%
    min-width: calc(1366px - 40px)
    max-width: 1600px
    .texts
      width: 650px
      margin: 0 20px
      h3
        font-size: 42px
        margin-bottom: 10px
        color: var(--blue-1)
        font-weight: var(--bold)
        font-family: var(--title)
      h1
        font-size: 118px
        margin-bottom: 80px
        color: var(--black-1)
        font-family: var(--title)
        font-weight: var(--extrabold)
      .hire-me
        +flex(center, center)
        font-size: 22px
        padding: 24px 76px
        width: fit-content
        border-radius: 40px
        color: var(--white-1)
        text-decoration: none
        font-weight: var(--bold)
        font-family: var(--title)
        background-color: var(--orange-1)
        box-shadow: 5px 10px 40px rgba(var(--orange-1-rgb), .4)
  figure
    +flex(center, center)
    width: 450px
    margin: 0 20px
    .photo
      width: 100%

+for-phone-only
  .hero-page
    .content
      min-width: 100%
      .texts
        width: auto
        h3
          font-size: 28px
          text-align: center
        h1
          font-size: 60px
          text-align: center
        .hire-me
          margin: auto
    figure
      display: none