html
  --title: 'Raleway', sans-serif
  --text: 'Lato', sans-serif
  --regular: 400
  --semibold: 600
  --bold: 700
  --extrabold: 800

  --white-1: #FFFFFF
  --black-1: #342E36
  --black-2: #51495F
  --black-2: #342E36
  --gray-1: #D1D1D1
  --orange-1: #FFA200
  --orange-1-rgb: 255, 175, 35
  --blue-1: #3E52FF
  --blue-2: #7D8AFF
  --blue-2-rgb: 125, 138, 255