@import "../../../../assets/styles/fonts.scss";
@import "../../../../assets/styles/breakpoints.scss";

.section {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-2);
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: var(--container-width);
    .scrollIcon {
      z-index: 2;
      margin: 0 0 64px 0;
      color: var(--primary-1);
    }
    .title {
      margin: 0 0 16px 0;
    }
    .description {
      @include media-m;
      margin: 0 0 64px 0;
      text-align: center;
      padding: 0 0 0 16px;
      color: var(--white);
      white-space: break-spaces;
    }
    .skills {
      display: flex;
      column-gap: 130px;
      margin: 0 0 90px 0;
      .skill {
        row-gap: 8px;
        display: flex;
        min-width: 288px;
        min-height: 132px;
        padding: 16px 24px;
        border-radius: 8px;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary-2);
        &:before {
          top: 0;
          left: 0;
          width: 8px;
          content: "";
          height: 100%;
          position: absolute;
          border-radius: 8px;
          background-color: var(--blue-1);
        }
        .name {
          @include menu-m;
          text-align: center;
          white-space: break-spaces;
        }
        .text {
          @include media-m;
          text-align: center;
          white-space: break-spaces;
        }
      }
    }
    .technologies {
      display: flex;
      column-gap: 128px;
      margin: 0 0 64px 0;
      .item {
        display: flex;
        row-gap: 24px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .iconCircle {
          width: 144px;
          height: 144px;
          display: flex;
          border-radius: 50%;
          align-items: center;
          color: var(--white);
          justify-content: center;
          .icon {
            width: 64px;
            height: 64px;
          }
        }
        .name {
          @include h2-m;
          color: var(--white);
          white-space: break-spaces;
        }
      }
    }
  }

  @media screen and (width <=$breakpoint-xxl) {
    .wrapper {
      padding: 64px 0;
    }
  }

  @media screen and (width <= $breakpoint-xl) {
    .wrapper {
      .scrollIcon {
        display: none;
      }
      .skills {
        column-gap: 64px;
      }
      .technologies {
        row-gap: 34px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  @media screen and (width <= $breakpoint-md) {
    min-height: auto;
    .wrapper {
      padding: 32px 24px;
      .skills {
        row-gap: 32px;
        flex-direction: column;
      }
      .technologies {
        margin: 0;
        row-gap: 32px;
        column-gap: 64px;
        .item {
          .iconCircle {
            width: 100px;
            height: 100px;
            .icon {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}