html {
  --ubuntu-font: 'Ubuntu';
  --mono-font: 'IBM Plex Mono', monospace;

  --white: #FFFFFF;
  --bg-1: #292F36;
  --bg-2: #1A1E23;
  --grey: #43454D;
  --primary-1: #12F7D6;
  --primary-2: #98FAEC;
}
