@import "../../../../assets/styles/fonts.scss";
@import "../../../../assets/styles/breakpoints.scss";

.footer {
  background-color: var(--bg-2);
  .wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: var(--footer-height);
    justify-content: space-between;
    max-width: var(--container-width);
    .rights {
      @include para-u;
      color: var(--white);
      white-space: break-spaces;
    }
  }

  @media screen and (width <= $breakpoint-md) {
    .wrapper {
      padding: 0 24px;
    }
  }
}